.footer-rights-wrapper {
  background-color: white;
}
.footer-rights {
  max-width: $pageWidth;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 23px 0;
  position: relative;
  & img {
    position: relative;
    bottom: 1px;
  }
  & .center-block-position {
    text-align: center;
    span {
      font-size: 13px;
    }
    & img {
      width: 100%;
      max-width: 104px;
    }
  }
}
