.blog.mod-blog-2 {
  max-width: $pageWidth;
  width: 100%;
  margin: 0 auto;
  @media all and (min-width: 481px) {
    & .padding-left-0 {
      padding-left: 0;
    }
    & .padding-right-0 {
      padding-right: 0;
    }
    & .vertical-center {
      position: relative;
    }
  }
  @import "../../_shared/scss/_post_tile.scss";
  & .post-tile {
    padding: 0;
    margin-bottom: 0;
    .row {
      display: flex;
    }
    & .post-content {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        left: 15px;
        right: 30px;
        .post-details {
          .pull-right {
            right: 0;
            bottom: 0;
          }
        }
      & .post-desc {
        @include ellipsis(14px, 1.44, 3);
        & .read-more {
          bottom: 0;
        }
      }
    }
  }
  & .post-tile {
    margin-bottom: 25px;
  }
  @import "../_common/scss/_utils_1.scss";
  .post-details-single {
    position: relative;
    padding: 25px 45px 25px 45px;
    margin: 0;
    &:before {
      content: '';
      background-color: white;
      position: absolute;
      left: 15px;
      top: 0;
      width: calc(100% - 30px);
      height: 100%;
      z-index: -1;
    }
  }

  .post-content-single {
    position: relative;
    &:before {
      content: '';
      background-color: white;
      position: absolute;
      left: 15px;
      top: 0;
      width: calc(100% - 30px);
      height: 100%;
      z-index: -1;
    }
    .post-content {
      padding: 0 25px 25px 25px;

    }
  }
  @import "../_common/scss/_list_options_1.scss";
  @import "../../_shared/scss/_pagination.scss";

  @import "../_common/scss/_column_categories_1.scss";
  .heading {
    margin-bottom: 0;
    padding: 17px 25px;
    background-color: white;
    &:before {
      display: none;
    }
    ul li {
      padding: 0;
      margin-bottom: 0px;
      .title {
        font-size: 20px;
        font-weight: bold;
        text-transform: unset;
      }
      &:after {
        display: none;
      } 
    }
  }
  .column-categories {
    .categories {
      background-color: white;
      > ul {
        display: block;
        padding-left: 0;
        > li {
          float: unset;
          padding: 0;
          border-top: 1px solid $bc-color;
          padding: 17px 25px;
          > a {
            font-size: 14px;
            font-weight: 400;
            display: inline-block;
            overflow-wrap: break-word;
            max-width: 189px;
          }
        }
      }
    }    
  }
  & > .container-fluid {
    & > .row {
      & .col-sm-9 {
        .heading {
          margin-bottom: 30px;
        }
        .category-description {
          padding: 0 25px 25px;
          background-color: white;
          margin-top: -30px;
          margin-bottom: 30px;
        }
      }
    }
  }
}
img.responsive-image {
  width: 100%;
  height: auto;
}

@media(max-width: 768px) {
  .blog.mod-blog-2 {
    .post-tile {
      .row {
        display: block;
      }
      .post-content {
        position: static;
        transform: none;

        .post-details {
          .pull-right {
            right: 30px;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .blog.mod-blog-2 {
    & .heading {
      display: inline-block;
    }
    & .heading-blog-list-filters {
      width: 100%;
      margin-bottom: 30px;
      cursor: pointer;
      & ul {
        width: 100%;
        padding: 0 0 5px;
        border: 1px solid $colorLineBorder;
        @include border-radius(3px);
        @include transition(border 0.2s ease-in-out);
        & li {
          padding: 0;
          text-align: center;
          width: 100%;
          &:after {
            display: none;
          }
          & .title {
            font-size: 18px;
            margin: 0;
            padding: 10px 0 3px;
            display: inline-block;
          }
        }
      }
      & + .column-categories {
        display: none;
      }
    }
    .post-details-single {
      padding: 25px 30px;
    }
    .post-content-single {
      .post-content {
        padding-left: 15px;
        padding-bottom: 15px;
      }
    }  
  }
}


@media all and (max-width: 480px) {
  .blog.mod-blog-2 {
    & .post-tile {
      & .post-content {
        padding: 15px 15px 40px;
        .post-details .pull-right {
          bottom: 15px;
        }
      }
    }
  }
}




