&.dropdown-quick-cart {
  min-width: 350px;
  & .products {
    margin: 0;
    padding: 15px 15px 2px;
    list-style: none;
    max-height: 470px;
    overflow: auto;
    padding-top: 0;
    text-align: left;
    & li {
      &:not(:last-of-type) {
        border-bottom: 1px solid $colorLineBorder;
      }
      padding-top: 15px;
      padding-bottom: 15px;
      &:hover {
        color: inherit;
      }
      & .row {
        & > [class*='col-'] {
          padding-left: 7px;
          padding-right: 7px;
        }
      }
      & .product-image {
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        display: inline-block;
      }

      .row {
        display: flex;
      }
      & .product-name {
        color: $fontColor;
        @include ellipsis(15px, 1.4, 2);
        &:hover {
          text-decoration: none;
          color: $mainColor;
        }
      }
      & .product-total {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
      }
      & .close-shape {
        width: 19px;
        height: 19px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      & .product-remove {
        position: relative;
        left: 50%;
        @include transform(translate(-50%,7px));
        display: inline-block;
        cursor: pointer;
        & .fa {
          font-size: 16px;
        }
        &:hover {
          & .fa {
            color: $closeColor;
          }
        }
      }
    }
  }
  & .cart-empty {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 25px 0 13px;
    font-weight: 500;
    font-size: 16px;
  }
  & .actions {
    padding: 12px 15px 15px;
    padding-top: 0;
    & .quick-cart-summary {
      border-top: 1px solid $colorLineBorder;
      margin: 0;
      padding-top: 15px;
      & .summary-element {
        padding: 7px;
        display: flex;
        justify-content: space-between;
        &:not(:last-of-type) {
          border-bottom: none;
        }
        text-align: left;
        padding-bottom: 15px;
        padding-top: 0px;
        height: auto;
        & span {
          display: inline-block;
          font-size: 16px;
          font-weight: 700;
          float: none;
          &.value {
            float: right;
            font-size: 16px;
            font-weight: 700;
          }
          &.value-upper {
            width: 100%;
            text-align: center;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
            color: $success;
            &:before {
              content: "\f0d1";
              font-family: 'FontAwesome';
              left: -13px;
              position: relative;
              font-size: 20px;
            }
          }
        }
      }
    }
    .btn {
      background-color: $additionalColor !important;
    }
  }
}
