#header {
  .menu {
    ul {
      li {
        &.one-row-producers {
          position: relative !important;

          .dropdown {
            min-width: 270px !important;
            width: 270px !important;
            padding-bottom: 7px !important;

            .producer-title{
              a{
                font-weight: 400 !important;
                font-size: 14px;
              }
            }
          }
        }

        &.many-rows-producers{
          .dropdown{
            .producer-title{
              a{
                font-weight: 400 !important;
                font-size: 14px;
              }
            }
          }
        }
      }

      &.hambureger-elements{
        .one-row-producers, .many-rows-producers{
          .fa{
            @include transform(rotate(90deg));
            position: absolute;
            left: 16px;
            top: 11px;
          }
        }
      }
    }
  }

}