#sticky-header{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  transition: .3s ease-in-out;
  position: absolute;
  top: 0;
  width: 100%;
  &.active{
    overflow: unset;
    transition: 1s ease-in-out;
    max-height: 500px;
    box-shadow: 0px -3px 5px 2px rgba(0,0,0,0.75);
  }
  @media(max-width: 767px){
    display: none;
  }
  .sticky-header__wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .sticky-header_content{
      &__logo{
        flex: 0 0 15%;
        text-align: center;
        padding: 5px 0;
        img{
          width: 100%;
          max-width: 190px;
        }
      }
      &__menu{
        flex: 0 0 67%;
        display: flex;
        justify-content: center;
        &_list{
              list-style: none;
              margin: 0;
              padding: 0;
              display: inline-block;
              text-align: left;
               li {
                float: left;
                position: relative;
                padding: 15px 15px;
                & a {
                  line-height: 22px;
                  font-weight: 700;
                  font-size: 16px;
                  text-decoration: none;
                  color: $topMenuTextColor;
                  cursor: pointer;
                  display: inline-block;
                  text-transform: uppercase;
                  & .fa {
                    font-size: 10px;
                    position: relative;
                    top: -2px;
                    &.fa-search, &.fa-bars {
                      font-size: 16px;
                      top: 0;
                    }
                  }
                }
                &:hover {
                  a {
                    color: $topMenuTextColorHover;
                  }
                  &:not(.click) {
                    & .dropdown {
                      @include transition(all 0.2s ease-in-out 0.2s);
                      @include transform(translateY(0));
                      pointer-events: auto;
                      z-index: 2;
                    }
                  }
                }
                @import "_menu_dropdown_1.scss";
                @import "_menu_dropdown_click_4.scss";
                @import "_menu_dropdown_single_1.scss";
                @import "_menu_dropdown_full_3.scss";
                @import "_hamburger_dropdown_1.scss";
                &.one-row-producers {
                  position: relative !important;

                  .dropdown {
                    min-width: 270px !important;
                    width: 270px !important;
                    padding-bottom: 7px !important;

                    .producer-title{
                      a{
                        font-weight: 400 !important;
                        font-size: 14px;
                      }
                    }
                  }
                }

                &.many-rows-producers{
                  .dropdown{
                    .producer-title{
                      a{
                        font-weight: 400 !important;
                        font-size: 14px;
                      }
                    }
                  }
                }
                .one-row-producers, .many-rows-producers{
                  .fa{
                    @include transform(rotate(90deg));
                    position: absolute;
                    left: 16px;
                    top: 11px;
                  }
                }
              }
          }

      }
      &__nav{
        flex: 0 0 15%;
        @import "_inline_nav.scss";
      }
    }
  }
}