& .quick-cart {
  min-width: 250px;
  position: relative;
  border: 1px solid $colorLineBorder;
  right: 0;
  > a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    padding-left: 15px;
    &:hover, &:focus {
      text-decoration: none;
    }
    .basket-wrapper {
      display: flex;
    }
  }

  & .fa {

  color: $cartColor;
  position: relative;

    font-size: 21px;
  }
  & .counter {

    position: absolute;
    bottom: 10px;
    right: 0;
    color: $primaryColor;
    text-align: center;
    @include transform(translate(50%,50%));
    @include border-radius(12px);
    & span {
      position: relative;
    }

    background: $additionalColor;
    min-width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    position: static;
    bottom: auto;
    right: auto;
    display: inline-block;
    transform: none;
    margin-left: -5px;
    z-index: 1;
    & span {
      line-height: 20px;
      padding: 0 5px;
    }
  }
  & .price {

    padding: 7px 5px;
    font-size: 13px;
    font-weight: bold;
    color: $priceColor;

    display: flex;
    flex-direction: column;
    .your-cart {
      font-weight: 400;
      font-size: 13px;
      color: $fontColor;
      text-transform: uppercase;
    }
  }
  .chevron-down-wrapper {
    width: 35px;
    height: 100%;
    background-color: $light-grey;
    .fa-chevron-down {
      font-size: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }
  & .dropdown {

    @include opacity(0);
    @include transition(all 0.2s ease-in-out);
    @include box-shadow(0 1px 3px rgba(0,0,0,2/10));
    @include transform(translateY(15px));
    min-width: 350px;
    backface-visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%;
    right: -15px;
    z-index: 1;
    background: $primaryColor;

    right: 0;
    &:before {
      content: '';
      position: absolute;
      top: -15px;
      right: -30px;
      bottom: 0;
      width: 30px;
    }
    &:after {
      content: '';
      position: absolute;
      top: -15px;
      right: 0;
      left: 0;
      height: 15px;
    }
    @import "../../_common/scss/dropdown_quick_cart_1.scss";
    @import "dropdown_quick_cart_1.scss";

  }
  &:hover {
    & .dropdown {
      @include opacity(1);
      @include transition(all 0.2s ease-in-out);
      @include transform(translateY(5.3px));
      pointer-events: auto;
      z-index: 2;
    }
  }
}
