.top-bar {
  display: flex;
  justify-content: space-between;
    border-bottom: none;
    font-size: 13px;
    position: relative;
    .pull-left,.pull-right {
      float: none !important;
    }
    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      & li {
        position: relative;
        &#mobile-open-contact:after {
          display: none;
        }
        & .icon-language-flag {
          border: 1px solid $colorLineBorder;
          margin: 0 2px;
          position: relative;
          top: -2px;
          &.small {
            height: 14px;
          }
        }
        &[data-type^="social-sm_custom"]{
          line-height: 1.6rem;
        }
        & .link {
          display: inline-block;
          cursor: pointer;
          text-decoration: none;
          padding: 10px;
          &.static {
            & > a {
              color: $fontColor;
              text-decoration: none;
              &:hover {
                color: $mainColor;
              }
            }
          }
          & .fa {
            font-size: 9px;
            position: relative;
            top: -2px;
          }
          & .helper-icon {
            padding-right: 4px;
            & .fa {
              position: relative;
              top: 0;
              font-size: 16px;
              color: $fontColor;
            }
            .fa-at:before {
              content: '\f0e0';
            }
          }
          & .main-icon {
            & .fa {
              position: relative;
              top: 0;
              font-size: 1.6rem;
              color: $fontColor;
              &.fa-tiktok{
                width: 14px;
                &:before{
                  content: url('/view/new/img/ico/ic-tiktok.svg');
                }
              }

            }
            img[data-custom-icon^="sm_custom_"]{
              max-height: 1.6rem;
              max-width: 1.6rem;
              width: 100%;
              height: 100%;
              filter: brightness(0);
            }
          }

        }
        & .dropdown {
          @include opacity(0);
          @include transition(all 0.2s ease-in-out);
          @include box-shadow(0 1px 3px rgba(0,0,0,2/10));
          @include transform(translateY(10px));
          backface-visibility: hidden;
          pointer-events: none;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;
          background: $primaryColor;
          &:after {
            content: '';
            position: absolute;
            top: -10px;
            right: 0;
            left: 0;
            height: 10px;
          }
          & ul {
            padding: 5px 0 0;
            display: inline-block;
            width: 100%;
            & li {
              display: block;
              width: 100%;
              padding: 5px 15px;
              &:after {
                display: none;
              }
              &:hover {
                color: $mainColor;
              }
            }
          }
          @import "dropdown_quick_cart_1.scss";

          .dropdown-quick-cart .products li .close-shape {
            height: 19px;
            width: 19px
          }
        }
        & > *[class='dropdown'] {
          & ul {
            & li {
              white-space: nowrap;
              & a {
                color: $fontColor;
                text-decoration: none;
                cursor: pointer;
                display: inline-block;
                width: 100%;
                &:hover {
                  color: $mainColor;
                }
              }
              &.active {
                & a {
                  color: $mainColor;
                  cursor: default;
                }
              }
            }
          }
        }
        &:hover {
          & .link:not(.static) {
            color: $mainColor;
          }
          & .dropdown {
            @include opacity(1);
            @include transition(all 0.2s ease-in-out);
            @include transform(translateY(0));
            pointer-events: auto;
            z-index: 2;
          }
        }
      }
    }
    & .pull-right {
      & ul {
        & li {
          & .dropdown {
            left: inherit;
            right: 0;
            text-align: right;
          }
        }
      }
    }
  }
