.products-slider.mod-products-slider-3 {
  max-width: $pageWidth;
	width: 100%;
  margin: 0 auto 30px;
  & .carousel {
    opacity: 0;
    display: flex;
    &.tab-hidden {
      @include opacity(0);
      display: none;
    }
    .owl-stage-outer {
      display: flex;
      .owl-stage {
        display: flex;
        .item {
          height: 100%;
        }
      }
    }
    @import "../../_shared/scss/_owl_controls.scss";
    .owl-controls {
      & .owl-prev, .owl-next {
        background: transparent;
      }
    }
  }
  @import "../../_shared/scss/_product_tile.scss";
  & .product-tile {
    //height: 100%;
    & .product-desc {
      padding: 10px 5px;
      & .product-price {
        font-size: 14px;
        .price-special {
          font-size: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  .products-slider.mod-products-slider-3 {
    & .heading {
      & ul {
        & li {
          width: 100%;
        }
      }
    }
  }
}
