
.column-left {
  & .input-field {
    border: 1px solid $colorLineBorder !important;
  }
  & .categories {
    margin-bottom: 15px;
    & ul {
      display: none;
      list-style: none;
      padding: 0 0 0 20px;
      margin: 0;
      & li {
        position: relative;
        & a {
          color: $fontColor;
          text-decoration: none;
          font-size: 14px;
          font-weight: 400;
          display: block;
          & .fa {
            font-size: 8px;
            position: relative;
            bottom: 2px;
            @include transform(rotate(0deg) translateY(0));
            @include transition(transform 0.2s ease-in-out);
          }
          &:hover {
            color: $mainColor;
          }
          &.revert {
            & .fa {
              @include transform(rotate(180deg) translateY(-2px));
              @include transition(transform 0.2s ease-in-out);
            }
          }
        }
      }
    }
    & > ul {
      display: block;
      padding-left: 0;
      & > li {
        border-top: 1px solid $colorLineBorder;
        & > a {
          font-weight: 400;
          font-size: 14px;
          padding: 14px 20px;
          overflow-wrap: break-word;
        }
        & > ul > li > ul > li > a {
          padding: 8px 0px 8px 60px !important;
        }
        & > ul > li > a {
          padding: 8px 0px 8px 40px !important;
        }
        & ul {
          padding: 0;
          background-color: $bc-color;
          li {
            a {
              padding: 8px 0px;
              overflow-wrap: break-word;
            }
          }
        }
      }
    }
    &.dropdowns {
      & ul {
        & li {
          & ul {
            & li {
              padding-right: 5px;
              & ul li {
                & a {
                  & .fa {
                    @include transform(rotate(-90deg) translateX(-1px));
                  }
                }
              }
              & ul li ul {
                display: block;
                @include opacity(0);
                position: absolute;
                top: 0px;
                left: 100%;
                @include box-shadow(0 1px 3px rgba(0,0,0,2/10));
                padding: 0px 15px 0px 20px;
                background: #ffffff;
                min-width: 150px;
                z-index: 1;
                backface-visibility: hidden;
                pointer-events: none;
                @include transform(translateX(-10px));
                @include transition(all 0.2s ease-in-out);
                & li {
                  width: 100%;
                  & a {
                    width: 100%;
                    white-space: nowrap;
                    display: inline-block;
                  }
                }
              }
              & ul li {
                &:hover {
                  & > ul {
                    @include opacity(1);
                    pointer-events: auto;
                    z-index: 4;
                    display: block;
                    @include transform(translateX(0));
                    @include transition(all 0.2s ease-in-out);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  & .parameters {
    & ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .second-heading{
        padding-left: 0;
      }
      &.list-field {
        margin: 0 0 12px;
        & .close-shape {
          position: absolute;
          right: 20px;
          top: 5px;
          width: 100%;
          height: 10px;
          &:before, &:after{
            left: unset!important;
            right: 0!important;
            width: 12px!important;
          }
        }
        & .close_rounded_shape{
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          left: 0;
          top: 0;
          &:before, &:after{
            background: transparent;
          }
        }
      }
    }
    & > ul {
      & > form > li {
        position: relative;
        width: 100%;
        & .parameter-name {
          color: $fontColor;
          text-decoration: none;
          margin-bottom: 15px;
          display: block;
          word-break: break-word;
          & + ul {
            max-height: 156px;
            overflow: auto;
            & .scrollbar-inner {
              max-height: 156px !important;
              .checkbox-field label .title {
                width: 193px;
                overflow-wrap: break-word;
              }
            }
            .round-checkbox{
              display: inline-block;
              width: 36px;
              height: 36px;
              float: none;
              margin: 7px 5px 5px;
              position: relative;
              padding: 0;
              z-index: 5;
              label{
                width: 100%;
                height: 100%;
                &:before{
                  width: 100%;
                  height: 36px;
                }
                &:after{
                  content: '';
                  background: rgba($mainColor, .3);
                  z-index: -1;
                  width: 100%;
                  height: 100%;
                  top: 49%;
                  left: 49%;
                  transform: translate(-50%, -50%);
                }
                .title{
                  overflow: hidden;
                  padding: 0;
                  font-size: 13px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: 24px!important;
                  overflow-wrap: unset!important;
                  height: 24px;
                  text-align: center;
                  background: #fff;
                }
              }
            }
          }
        }
        .input-field {
          margin-top: 0;
        }
        & .resetFilters{
          margin-top: 10px;
          background: transparent!important;
          border: 1px solid $mainColor!important;
          color: $mainColor!important;
          &:hover, &:focus{
            color: #fff!important;
            background: $mainColor!important;
            border: 1px solid transparent!important;
          }
          &:before{
            display: none;
          }
        }
        & .btn-block {
          margin-bottom: 10px;
          position: relative;
          &:before {
            content: "\f002";
            right: 12px;
            top: 5px;
            font-size: 17px;
            font-family: 'FontAwesome';
            position: absolute;
            font-weight: normal;
          }
        }
        &:first-of-type {
          padding-top: 0;
        }
        &:last-of-type {
          padding-bottom: 15px;
        }
      }
    }
  }
}


@media(min-width: 768px) {
  .column-left-wrapper {
    background-color: white;
    margin-bottom: 30px;
  }

  .column-left {
    .parameters {
      padding: 0 25px;
    }
  }
}

@media(max-width: 767px) {
  .products-list-page.mod-products-list-page-3 .column-left .parameters > ul > form > li .parameter-name + ul .scrollbar-inner .checkbox-field label .title {
    width: 243px;
  }
}
